.react-link {
  text-decoration: none;
}

.react-link:hover {
  text-decoration: none;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /*border: 1px solid red;*/
}

.flex-item {
  margin: 0.2em;
  padding: 0.2em;
  border: 1px dotted red;
  border-radius: 5px;
  flex: 1 1 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button {
  cursor: pointer;
}

.block-destination {
  font-size: 1.6em;
  color: tomato;
}

/*.itinerary-form {
  height: ;
}*/