.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  /*border: 1px solid red;*/
}

.flex-item {
  margin: 0;
  padding: 1em;
/*  border: 0.5px dotted black;
  border-radius: 1px;
*/
  width: 400px; 
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.itinerary-form {
  height: ;
}