.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /*border: 1px solid red;*/
}

.flex-item {
  margin: 0.5em;
  padding: 0.5em;
/*  border: 0.5px dotted black;
  border-radius: 1px;
*/
  width: 250px; 
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button {
  cursor: pointer;
}

.itinerary-form {
  height: ;
}