@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
/*  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
*/}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  margin: 5px;
}

.link-text {
  text-decoration: underline;
  color: orangered;
  cursor: pointer;
}

.link-text: hover {
  color: lightsalmon;
}